# Copyright 2023 Google LLC All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

.*
!.github
!.gitignore
*.iml
terraform.tfstate*
backend.tf
*.tfvars

deploy/base/charts/

# Ignore Terraform generated k8s manifest files
patch-agones-allocator-*.yaml

# Ignore Terraform generated skaffold files
skaffold-global-game-*.yaml
platform/agones/skaffold.yaml

# Ignore Terraform generated kustomization files
**/global-game-*/kustomization.yaml
**/global-game-*/agones-system.yaml

# Ignore any tmp files generated
infrastructure/tmp

# Ignore go.work, go.work.sum (results of `go work`)
go.work
go.work.sum
