project = "PROJECT_ID"

default_regions = {
  "us-central1" : {
    "vpc_subnet_name" : "global-game-subnet-us",
    "vpc_subnet_cidr" : "10.1.0.0/16"
  },
  "europe-west3" : {
    "vpc_subnet_name" : "global-game-subnet-eu",
    "vpc_subnet_cidr" : "10.4.0.0/16",
  },
  "asia-east1" : {
    "vpc_subnet_name" : "global-game-subnet-asia",
    "vpc_subnet_cidr" : "10.8.0.0/16",
  }
}

gcp_project_services = [
  "cloudbuild.googleapis.com",
  "compute.googleapis.com",
  "container.googleapis.com",
  "artifactregistry.googleapis.com"
]

vpc_name = "global-game-vpc"

spanner_gke_config = {
  cluster_name = "global-game-gke-spanner"
  location     = "us-central1"
  resource_labels = {
    environment = "staging"
  }
}

app_service_account_config = {
  name        = "app-service-account"
  description = "Global Multiplayer Game service account"
}

k8s_service_account_id = "k8s-service-account"
