project = "PROJECT_ID"

region      = "us-central1"

gcp_project_services = [
  "cloudbuild.googleapis.com",
  "container.googleapis.com",
  "artifactregistry.googleapis.com"
]

vpc_name    = "cymbal-game-staging-vpc"

subnet_name = "cymbal-game-subnet"
subnet_cidr = "10.1.0.0/16"

spanner_gke_config = {
    cluster_name      = "global-game-gke-spanner"
    location          = "us-central1"
    resource_labels   = {
        environment = "staging"
    }
}

app_service_account_config = {
    name     = "app-service-account"
    description     = "Global Multiplayer Game service account"
}

k8s_service_account_id   = "k8s-service-account"
