# Copyright 2023 Google LLC All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

project = "PROJECT_ID"

default_regions = {
  "us-central1" : {
    "vpc_subnet_name" : "global-game-subnet-us",
    "vpc_subnet_cidr" : "10.1.0.0/16"
  },
  "europe-west3" : {
    "vpc_subnet_name" : "global-game-subnet-eu",
    "vpc_subnet_cidr" : "10.4.0.0/16",
  },
  "asia-east1" : {
    "vpc_subnet_name" : "global-game-subnet-asia",
    "vpc_subnet_cidr" : "10.8.0.0/16",
  }
}

gcp_project_services = [
  "clouddeploy.googleapis.com",
  "cloudbuild.googleapis.com",
  "compute.googleapis.com",
  "container.googleapis.com",
  "artifactregistry.googleapis.com"
]

vpc_name = "global-game-vpc"

spanner_config = {
  db_name = "global-game-spanner-db"
  instance_name = "global-game-spanner-instance"
  location = "us-central1"
  num_nodes = 3
}

spanner_gke_config = {
  cluster_name = "global-game-gke-spanner"
  location     = "us-central1"
  resource_labels = {
    environment = "staging"
  }
}

app_service_account_config = {
  name        = "app-service-account"
  description = "Global Multiplayer Game service account"
}

k8s_service_account_id = "k8s-service-account"
