# Copyright 2023 Google LLC All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# Project Specific Variables

project            = "PROJECT_ID"
resource_env_label = "demo-global-game"

apply_org_policies = false

# Cloud Deploy Configuration
platform_directory = "../platform" # Relative to Terraform directory
services_directory = "../services" # Relative to Terraform directory
clouddeploy_config = {
  "location" : "us-central1"
}

# VPC Regions & associated subnet CIDRs Values

vpc_name = "global-game-vpc"

vpc_regions = {
  "us-central1" : {
    "vpc_subnet_cidr" : "10.1.0.0/16"
  },
  "europe-west1" : {
    "vpc_subnet_cidr" : "10.4.0.0/16"
  },
  "asia-east1" : {
    "vpc_subnet_cidr" : "10.8.0.0/16"
  }
}

# Game GKE Cluster Config Values
### NOTE: If you change the GKE Clusters, please make sure to change `cloudbuild.yaml` in 
### `platform/agones/install` as they are not dynamically created.
game_gke_standard_clusters = {
  "global-game-us-central1-01" : {
    "short_name" : "us-central1-01",
    "region" : "us-central1",
    "machine_type" : "e2-standard-4"
  },
  "global-game-eu-west1-01" : {
    "short_name" : "europe-west1-01",
    "region" : "europe-west1",
    "machine_type" : "e2-standard-4"
  },
  "global-game-asia-east1-01" : {
    "short_name" : "asia-east1-01",
    "region" : "asia-east1",
    "machine_type" : "e2-standard-4"
  }
}

game_gke_autopilot_clusters = {
  "global-game-us-central1-02" : {
    "short_name" : "us-central1-02",
    "region" : "us-central1",
  },
  "global-game-eu-west1-02" : {
    "short_name" : "europe-west1-02",
    "region" : "europe-west1",
  },
  "global-game-asia-east1-02" : {
    "short_name" : "asia-east1-02",
    "region" : "asia-east1",
  }
}


# GCP APIs to Enable
gcp_project_services = [
  "clouddeploy.googleapis.com",
  "cloudbuild.googleapis.com",
  "compute.googleapis.com",
  "container.googleapis.com",
  "gameservices.googleapis.com",
  "artifactregistry.googleapis.com",
  "spanner.googleapis.com",
  "secretmanager.googleapis.com",
  "servicenetworking.googleapis.com",
  "servicecontrol.googleapis.com",
  "run.googleapis.com",
  "orgpolicy.googleapis.com"、
  "redis.googleapis.com",
  "run.googleapis.com",
  "iap.googleapis.com"
]

# Spanner DB Config Values
spanner_config = {
  db_name       = "global-game-spanner-db"
  instance_name = "global-game-spanner-instance"
  location      = "nam-eur-asia1"
  num_nodes     = 3
}

# Services GKE Config Values
services_gke_config = {
  cluster_name = "global-game-services"
  location     = "us-central1"
  resource_labels = {
    environment = "staging"
  }
}

# Frontend Service Config Values
frontend-service = {
  jwt_key = "r@nd0m$"
}

# Artifact Registry variables
### NOTE: If you change the Artifact registry location, please make sure to change `cloudbuild.yaml` in
### `services/clouddeploy.yaml;` as it is not dynamically created.
artifact_registry_config = {
  location = "us"
}

# Agones Application Service Account Name
app_service_account_config = {
  name        = "app-service-account"
  description = "Global Multiplayer Game service account"
}

# Agones GKE Service Account Name
k8s_service_account_id = "k8s-service-account"

# Agones Allocation Endpoint Config Values
allocation_endpoint = {
  name             = "agones-allocation-endpoint"
  proxy_image      = "us-docker.pkg.dev/agones-images/examples/allocation-endpoint-proxy:0.3"
  weight           = 100
  namespace        = "default"
  agones_namespace = "agones-system"
}